.an-titleC {
	text-align: center;
}
.bodyC {
	background-color: #a6d3ff;
}
.mainC {
	text-align: center;
}
h4 {
	background-color: #cce6ff;
	width: 750px;
	margin: 0 auto;
}
.qblock {
	background-color: #cce6ff;
	width: 750px;
	margin: 0 auto;
}
h5 {
	color: black;
	background-color: yellow;
}
